* {
  padding: 0;
  margin: 0;
}

#root {
  margin: 10px;
  border: solid 10px #eee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.pixel {
  width: 10px;
  height: 10px;
  /* border: solid 0.1px #fff; */
}

.pixel:hover {
  opacity: 0.8;
  outline: 2px solid black;
}

#palette {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.palette_color {
  width: 10px;
  height: 10px;
}

.palette_color:hover {
  opacity: 0.8;
  outline: 2px solid black;
}
